<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Link</title>

    <style>


    </style>
</head>
<body>
<div class="user_item">
    <h3 style="font-size:20pt; text-align:center">{{header}}</h3><br/>
{% if token %}
    <p style="font-size:13pt"> Click below to Activate your Account</p> <br/>

    <button  href="http://localhost:8000/auth/activate/{{token}}/{{email}}" style="background-color:lightblue; color:white;padding:5px;border:none">Activate</button>
{% endif %}

    {% if code %}

    {% endif %}
</div>

</body>
</html>